// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #40AA52;
$skinHeaderBck: #194320;
$panelHeaderBck: #F9BB13;
$skinLogo: none;

@import "active_skin";

#header h1.site_title {
  text-indent: 0%;
  padding-left: 30px;

  img {
    height: 25px;
    margin-top: 7px;
  }
}

.column.small-column {
  width: 25% !important;
}

.column.big-column {
  width: 73% !important;
}

.column.small-column .panel {
  text-align: center;
}
